streamlit
rembg
opencv-python-headless
numpy
Pillow
watchdog
onnxruntime
pandas
docxtpl
plotly
num2words
openpyxl
gspread
st-gsheets-connection
streamlit
pandas
gspread
google-auth
fpdf2
docxtpl
plotly
num2words
openpyxl

